h2 {color: darkred;}
h3 {color: darkblue;}
div {
  padding-top: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
}
.container {
  padding-top: 10px;
  border-style: solid;
  background-color:lightblue;
}
.subCont {
  padding-top: 10px;
  border-style: solid;
  background-color:lightgreen;
}
.active {
  font-size:1.5em;
  font-weight:bold;  
}
.footer {
  border-style: solid;
  background-color:grey;
}
.big {
  font-size:em;
  font-weight:bold;  
}
.small {
  font-size:0.8em;
  font-weight:normal;  
}
.horz {
  display: flex;
}