* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:black;
  color: #080;
  padding:; 4px;
}

/* unvisited link */
a:link {
  color: #070;
}
/* visited link */
a:visited {
  color: darkgreen;
}
a:hover {
  font-weight:bold;  
  color: green;
}

/* Style the header */
header {
  color: darkgreen;
  background-color: lightgreen;
  padding: 5px;
  text-align:left;
  border: 1px solid darkgreen;
  border-radius: 10px;
}
/* Create two columns/boxes that floats next to each other */
nav {
  color: darkgreen;
  float: left;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 30%;
  border: 1px solid darkgreen;
  border-radius: 10px;
  min-height: 200px;
  overflow: hidden;
  background-color: lightgreen;
  color: #080;
}
/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 4px;
  line-height: 0px;
}
article {
  float: left;
  padding: 2px;
  min-height: 200px;
  height:100%;
  border: 1px solid darkgreen;
  border-radius: 10px;
  background-color: lightgreen;
}
/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
  color: #080;
}
/* Style the footer */
footer {
  color: darkgreen;
  background-color: lightgreen;
  padding: 5px;
  text-align:right;
  border: 1px solid darkgreen;
  border-radius: 10px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav {
    width: 100%;
    height: auto;
  }
}

/* my simplest css */
.big {
  color: darkgreen;
  font-size:1.2em;
  font-weight:bold;  
}
.bigBig {
  color: green;
  font-size:3em;
  font-weight:bold; 
  vertical-align: middle; 
}
.small {
  font-size:0.8em;
  font-weight:normal;  
}

.login { 
  background-color: white;
  border:1px #ccc solid;
}

.whiteRow { 
  background-color: black;
  line-height: 2px;
}

.listSound table, tr {
  border-collapse: collapse;
  width: 100%;
}
.listSound th, td {
  text-align: left;
  padding: 4px;
  font-size:0.8em;
  font-weight:normal;
  color:#252;
  border-width: 1px;
  border-color: darkgreen;
}
.listSound th {
  font-weight:bold;
}
.listSound tr {
  text-align: left;
  width:100%;
}
.listSound tr:nth-child(even) {background-color: #afa;}
.listSound tr:nth-child(odd) {background-color: #cfc;}
.longList table, th, tr, td {
  padding:2px;
}
.key {
  font-weight: bold;
  text-align:right;
  background-color: #cec;
}
.value {
  text-align:left;
  background-color: #cec;
}
.metaData {
  text-align:center;
  color: #cec;
  background-color: darkgreen;
}
.dict {
  font-size:1.5em;
  color: #cec;
  background-color: darkgreen;
  text-align:left;
  padding:4px;
}