{% from "macros.html" import header %}
{% from "macros.html" import nav_li with context %}
{% from "macros.html" import footer %}
{% from "macros.html" import messageList %}
<!DOCTYPE html>
<html lang="en">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  {% block head %}
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/baseStyle.css') }}">
      <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
      </script>
    </head>
  {% endblock %}
  <body>
    {% block content %}
      <header class="big">
        <img src=/static/imgs/toniaTranspIco.png width="48"> {{ header() }} 
        {% if user %}<span class="small">(as {{ user }})</span>{% endif %}
      </header>
      <div class="whiteRow">&nbsp;</div>
      <section>
        {% block nav %}
          {% if session['logged_in'] %}
            <nav>
              {{nav_li('confs', 'configure') }}
              {{nav_li('sounds', 'alarm sounds') }}
              {{nav_li('enviroGet', 'enviro objs') }}
              {{nav_li('sessionGet', 'session objs') }}
              {{nav_li('console', 'flask console') }} 
              {{nav_li('myConsole', '@') }}
              {{nav_li('logout', 'logout') }}
            </nav>
          {% endif %}
        {% endblock %}
        {% block article %}
        {% endblock %}
      </section>
      <div class="whiteRow">&nbsp;</div>
      {% block footer %}
        <footer class="small">
          {{ currentTime | datetimefilter }}
          {{ footer('18/19') }}
        </footer>
      {% endblock %}
    {% endblock %}
  </body>
</html>