{% from "macros.html" import header %}
{% from "macros.html" import nav_li with context %}
{% from "macros.html" import footer %}
{% from "macros.html" import messageList %}
<!DOCTYPE html>
<html lang="en">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  {% block head %}
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/baseStyle.css') }}">
    </head>
  {% endblock %}
  <body>
    {% block content %}
      <header class="big">
        <img src=/static/imgs/toniaTranspIco.png width="48"> {{ header() }} 
        {% if user %}<span class="small">(as {{ user }})</span>{% endif %}
      </header>
      <div class="whiteRow">&nbsp;</div>
      <section>
        {% block nav %}
          {% if session['logged_in'] %}
            <nav>
              {{nav_li('sounds', 'alarm sounds') }}
              {{nav_li('getAlarmStatus', 'alarm status') }}
              {{nav_li('sessionGet', 'read session vars') }}
              {{nav_li('console', 'flask console', 'console') }}
              {{nav_li('myConsole', 'my flask console', 'myConsole') }}
              {{nav_li('logout', 'logout') }}
            </nav>
          {% endif %}
        {% endblock %}
        {% block article %}
        {% endblock %}
      </section>
      <div class="whiteRow">&nbsp;</div>
      {% block footer %}
        <footer class="small">
          {{ currentTime | datetimefilter }}
          {{ footer('18/19') }}
        </footer>
      {% endblock %}
    {% endblock %}
  </body>
</html>