{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block article %}
<article>
  <table>
    <tr>
      <td>
        <table class="listSound">
          <tr>
            <th>output socket on/off</th>
          </tr>
            {% for n in range(socketList|length) %}
              <tr>
                <td class="bigBig"> {{ n }}
                  {% if socketList[n] == False %}
                    <img width="48" title="{{ n }} off (click to switch on)" src="{{ url_for('static', filename='imgs/socketOff.png') }}">
                  {% else %}
                    <img width="48" title="{{ n }} on (click to switch off)" src="{{ url_for('static', filename='imgs/socketOn.png') }}">
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
        </table>
      </td>
      <td>
        <table class="listSound">
          <tr>
            <th>telegram</th>
          </tr>
          <tr>
            <td class="bigBig">azz</td>
          </tr>
        </table>
      <td>
    </tr>
  </table>
</article>
{% endblock %}
