{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block article %}
<article>
  <table class="listSound">
    <tr>
      <th>general on/off alarm</th><th>output socket on/off</th><th>telegram bot</th>
    </tr>
    {% for n in range(socketList|length) %}
      <tr>
        {% if n == 0 %}
        <td class="big" style="text-align:center"> {{ power }}
          {% if power == 'On' %}
            <img width="40" title="on (click to switch on)" src="{{ url_for('static', filename='imgs/alarmOn.png') }}">
          {% else %}
            <img width="40" title="off (click to switch off)" src="{{ url_for('static', filename='imgs/alarmOff.png') }}">
          {% endif %}
        </td>
        {% else %}
          <td></td>
        {% endif %}
        <td class="bigBig"> {{ n + 1 }}
          {% if socketList[n] == False %}
            <img width="32" title="{{ n + 1 }} off (click to switch on)" src="{{ url_for('static', filename='imgs/socketOff.png') }}">
          {% else %}
            <img width="32" title="{{ n + 1 }} on (click to switch off)" src="{{ url_for('static', filename='imgs/socketOn.png') }}">
          {% endif %}
        </td>
        {% if n == 0 %}
        <td class="big" style="text-align:center">{{ telegramDict['botName']}}</td>
        {% else %}
        <td></td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
</article>
{% endblock %}
