{% from "macros.html" import header %}
{% from "macros.html" import nav_li with context %}
{% from "macros.html" import footer %}
<!DOCTYPE html>
<html lang="en">
  <title>{{ title }}</title>
  {% block head %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/baseStyle.css') }}">
  </head>
  {% endblock %}
  <body>
    <header><img src=/static/imgs/toniaTranspIco.png class="ico48"> {{ header() }}</header>
    <section>
      <nav>
        <ul>
          {{nav_li('home', 'alarm sounds') }}
          {{nav_li('getAlarmStatus', 'get alarm status') }}
          {{nav_li('login', 'logout') }}
          {{nav_li('halt', 'halt') }}
        </ul>
      </nav>
      <article>
          {% block page %}
            user: {{ user }}<br>
            dateTime: {{ currentTime | datetimefilter }}<br>
          {% endblock %}
        </article>
    </section>
    <footer>{{ footer('18/19') }}</footer>
  </body>
</html>






