{% from "macros.html" import footer %}
<!DOCTYPE html>
<html>
  <title>{{title}}</title>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/baseStyle.css') }}">
</head>
  <body>
    <div class="big"><img src=/static/imgs/toniaTranspIco.png class="ico48"> toniaAlarm</div><div class="small">{{ currentTime | datetimefilter }}</div>
    <form method="post" action="/home"> 
      username: <input type="text" name="username"><br>
      password: <input type="password" name="password"><br>
      <button type="submit">submit</button>
    </form><br> 
    {{ footer('18/19') }} 
  </body>
</html>