{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block article %}
  <article>
    <form method="post" action="/"> 
      <table>
        <tr><td class="big">username:</td><td><input class="login" type="text" name="username" class="login" value="{{ user }}"></td></tr>
        <tr><td class="big">password:</td><td><input class="login" type="password" name="password" class="login" value="{{ password }}"></td></tr>
        <tr><td><button type="submit">submit</button></td><td class="big">{{ message }}</td></tr>
      </table>
    </form> 
  </article>
{% endblock %}