{% macro header() %}
  tonia alarm web configuration
{% endmacro %}

{% macro footer(as) %}
  &copy; Copyright 2019 <a href="http://www.fermi-mo.gov.it/" target="_blank">iti fermi modena a.s. {{ as }}</a>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/halt"><img src="{{ url_for('static', filename='imgs/off.png') }}" width="16"></a> 
{% endmacro %}

{% macro nav_li(endpoint, clickStr, target) %}
  {% if request.endpoint.endswith(endpoint) %}
    <ul class="big">{{ clickStr }}</ul>
  {% else %}
    <ul><a href="{{url_for(endpoint)}}" {% if target %}target="{{ target }}"{% endif %}>{{ clickStr }}</a></ul>
  {% endif %}
{% endmacro %}

{% macro messageList() %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="small">{{ message }}</li>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}
