<!DOCTYPE html>
<html lang="en">
  <head>
    <title>console // werkzeug debugger</title>
    <link rel="stylesheet" href="?__debugger__=yes&amp;cmd=resource&amp;f=style.css" type="text/css">
    <link rel="shortcut icon" href="?__debugger__=yes&amp;cmd=resource&amp;f=console.png">
    <script src="?__debugger__=yes&amp;cmd=resource&amp;f=jquery.js"></script>
    <script src="?__debugger__=yes&amp;cmd=resource&amp;f=debugger.js"></script>
    <script type="text/javascript">
      var 
        TRACEBACK = -1,
        CONSOLE_MODE = true,
        EVALEX = true,
        EVALEX_TRUSTED = true,
        SECRET = "vRJi5eLUn1IlhIgtd54N";
    </script>
  </head>
  <body style="background-color: #000; color:#fff;">

    <div style="color: #fff; background-color: #000">
      <h3>interactive console (2019-04-30 for now not running)</h3>
      <div class="console" style="color: #fff; background-color: #000; text-align:left;">
        <div class="inner" style="color: #fff; background-color: #000; text-align:left;">The Console requires JavaScript.</div>
      </div>
    </div>

    <div class="pin-prompt">
      <div class="inner">
        <h3>Console Locked</h3>
        <p>
          The console is locked and needs to be unlocked by entering the PIN.
        <form>
          <p>PIN:
            <input type=text name=pin size=14>
            <input type=submit name=btn value="Confirm Pin">
        </form>
      </div>
    </div>
  </body>
</html>