{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block article %}
  <article>
    <div class="big">session dict:</div>
    <table class="longList">
      <tr class="metaData">
        <th>key</th>
        <th>value</th>
      </tr>
      {% for key, value in sessionDict.items() %}
        <tr>
            <td class="key">{{key}}:</td>
            <td class="value">'{{value}}'</td>
        </tr>
      {% endfor %} 
    </table>
    <br>
    <div class="big">app.config dict:</div>
    <table>
      <tr class="metaData">
        <th>key</th>
        <th>value</th>
      </tr>
      {% for key, value in appDict.items() %}
        <tr>
            <td class="key">{{key}}:</td>
            <td class="value">'{{value}}'</td>
        </tr>
      {% endfor %} 
    </table>
  </article>
{% endblock %}