{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block article %}
<article>
  <div class="big">sounds list</div>
  <table class="listSound">
    <tr>
      <th>n</th><th>filename</th><th>dateTime</th><th>size</th>
    </tr>
    {% for fileName in fileList %}
        <tr>
          <td>{{ fileName[0] }}</td>
          <td>
            {{ fileName[3] }}<br>
            <audio controls><source src="/static/snds/{{ fileName[3] }}"></audio>
            </td>
            <td>{{ fileName[2] }}</td>
            <td>{{ fileName[1] }}</td>
        </tr>
    {% endfor %}
    <tr>
      <form method=post enctype=multipart/form-data action="/upload">
      <td>file name: </td><td><input type="file" name="file" method="post" ></td><td><input type="submit" value="Upload"></td><td>100 MB siz max</td>
    </tr>
  </table>
</article>
{% endblock %}
